/* 
    Created on : 2 mar. 2020, 10:08:43
    Author     : miguel

    This is the css used in Index
*/

/* ---------------Parts of the Page--------------- */

  body{ background-color: #111111;
        background-image: url("../img/furmanage_cutlogo.png");
        background-position-x: center;
        background-position-y: fixed;
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: 14vw;
        back

  }
  

/* ---------------IDS--------------- */

  #login-container{ margin-top: 26vh;
  }

  #login-jumbo{ background-color: #333333;
                color: #FFFFFF;
  }


/* ---------------Classes--------------- */

  .btn{ margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
  }