/* 
    Created on : 2 mar. 2020, 10:08:43
    Author     : miguel

    This is the css used in Main Part Of Page
*/

/* ---------------Parts of the Page--------------- */

  body{ background-color: #111111;    
  }
  

/* ---------------IDS--------------- */



/* ---------------Classes--------------- */

  .btn{ margin-right: 5px;
        margin-left: 5px;
        border-radius: 60px;
  }
  
  