/* 
    Created on : 2 mar. 2020, 10:08:43
    Author     : miguel

    This is the css used in Main Part Of Page
*/

/* ---------------Parts of the Page--------------- */

  body{ background-color: #111111;    
  }
  
  img { border-radius: 200px;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  }

/* ---------------IDS--------------- */



/* ---------------Classes--------------- */

  .btn{ margin-right: 5px;
        margin-left: 5px;
        border-radius: 60px;
  }
  
  .navbar{ box-shadow: 0px 12px 55px 0px rgba(0,0,0,0.75);
    
  }
  
  