/* ---------------Parts of the Page--------------- */

  body{ background-color: #111111;
        background-image: url("../img/furmanage_cutlogo.png");
        background-position-x: center;
        background-position-y: fixed;
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: 14vw;
  }
  
  img { border-radius: 200px;
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  }

/* ---------------IDS--------------- */



/* ---------------Classes--------------- */

  .btn{ margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        
        border-radius: 60px;
  }
  
  .navbar{ box-shadow: 0px 12px 55px 0px rgba(0,0,0,0.75);
    
  }
  
  .card{ box-shadow: 0px 12px 55px 0px rgba(0,0,0,0.75);
    
  }